flows.json
[
    {
        "id": "c2cbc42f74127fa6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ec5374001b1df54",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52e5e9bd68d1fa0c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "73b2b2c63e102234",
        "type": "ui_tab",
        "name": "Log In",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e1660b0c3c196e1e",
        "type": "ui_group",
        "name": "Log In",
        "tab": "73b2b2c63e102234",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "610934fdc68efbdb",
        "type": "ui_group",
        "name": "Sign Up",
        "tab": "fc59e6a45a2847da",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "66618fa089f0b260",
        "type": "database-config",
        "name": "FishTankDB",
        "authType": "anonymous",
        "claims": {},
        "createUser": false,
        "useClaims": false
    },
    {
        "id": "fc59e6a45a2847da",
        "type": "ui_tab",
        "name": "Sign Up",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e122aaa855293665",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9b92f3cbecf14b0b",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "e122aaa855293665",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a051bae4bf8211bf",
        "type": "ui_form",
        "z": "c2cbc42f74127fa6",
        "name": "Log In",
        "label": "",
        "group": "e1660b0c3c196e1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "40793cbf5986c3a8",
                "6fc90551e3b166c2"
            ]
        ]
    },
    {
        "id": "6775dcc52abf4195",
        "type": "ui_button",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "group": "e1660b0c3c196e1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "To Sign Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "a932d43265130e12"
            ]
        ]
    },
    {
        "id": "b8007886a980bcd6",
        "type": "ui_ui_control",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "events": "all",
        "x": 500,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9c3b73432de8b670",
        "type": "ui_button",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "group": "610934fdc68efbdb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "To Log In",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "613cf741838abbc2"
            ]
        ]
    },
    {
        "id": "eeddb68b2b574cda",
        "type": "ui_ui_control",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "events": "all",
        "x": 480,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ae8606eaea30e4eb",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "check_password_match",
        "func": "msg.payload = (msg.payload.password_1 == msg.payload.password_2) ? \"Y\" : \"N\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 560,
        "wires": [
            [
                "20e5bc2c35b15b15"
            ]
        ]
    },
    {
        "id": "20e5bc2c35b15b15",
        "type": "switch",
        "z": "c2cbc42f74127fa6",
        "name": "check_valid",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "N",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "c80503f4498e5881"
            ],
            [
                "5687cdd55b74c741"
            ]
        ]
    },
    {
        "id": "3319dc584d41ce6c",
        "type": "firebase-out",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "database": "66618fa089f0b260",
        "path": "users",
        "pathType": "str",
        "priority": 1,
        "queryType": "push",
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "0d2ce3e712ce82db",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "save_user",
        "func": "global.set(\"email\", msg.payload.email);\nglobal.set(\"password\", msg.payload.password_1);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c80503f4498e5881",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "process_new_user",
        "func": "msg.payload = {\n    email: global.get(\"email\"),\n    password: global.get(\"password\"),\n    username: global.get(\"email\").split(\"@\")[0]\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 520,
        "wires": [
            [
                "3319dc584d41ce6c"
            ]
        ]
    },
    {
        "id": "40793cbf5986c3a8",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "save_user",
        "func": "global.set(\"email\", msg.payload.email);\nglobal.set(\"password\", msg.payload.password);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6fc90551e3b166c2",
        "type": "firebase-get",
        "z": "c2cbc42f74127fa6",
        "name": "GET users",
        "constraint": {},
        "database": "66618fa089f0b260",
        "outputType": "auto",
        "passThrough": false,
        "path": "users",
        "pathType": "str",
        "useConstraint": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "68857fbd3dfaf41d"
            ]
        ]
    },
    {
        "id": "68857fbd3dfaf41d",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "load_user_data",
        "func": "var data = msg.payload;\nvar users = [];\n\nfor (var id in data) {\n    var propValue = data[id];\n    users.push(propValue);\n}\n\nmsg.payload = users;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "69b27e205d46e654"
            ]
        ]
    },
    {
        "id": "69b27e205d46e654",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "authenticate",
        "func": "var users = msg.payload;\nvar email = global.get(\"email\");\nvar password = global.get(\"password\");\n\nfor (let i = 0; i < users.length; i++) {\n    if (users[i].email == email && users[i].password == password) {\n        msg.payload = \"Y\";\n        return msg;\n    }\n}\n\nmsg.payload = \"N\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 180,
        "wires": [
            [
                "854f8eb481f2646b"
            ]
        ]
    },
    {
        "id": "854f8eb481f2646b",
        "type": "switch",
        "z": "c2cbc42f74127fa6",
        "name": "check_valid",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "N",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 260,
        "wires": [
            [
                "c9faf0a79ea08f6b",
                "47883ffa99bcc298"
            ],
            [
                "733a3794c20985b6"
            ]
        ]
    },
    {
        "id": "c8d29598b4b87b19",
        "type": "ui_form",
        "z": "c2cbc42f74127fa6",
        "name": "Sign Up",
        "label": "",
        "group": "610934fdc68efbdb",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password_1",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Retype password",
                "value": "password_2",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "password_1": "",
            "password_2": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "ae8606eaea30e4eb",
                "0d2ce3e712ce82db"
            ]
        ]
    },
    {
        "id": "613cf741838abbc2",
        "type": "change",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Log In\"],\"hide\":[\"Sign Up\",\"Dashboard\"]},\"tab\":\"Log In\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 680,
        "wires": [
            [
                "eeddb68b2b574cda"
            ]
        ]
    },
    {
        "id": "a932d43265130e12",
        "type": "change",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Sign Up\"],\"hide\":[\"Log In\",\"Dashboard\"]},\"tab\":\"Sign Up\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "b8007886a980bcd6"
            ]
        ]
    },
    {
        "id": "733a3794c20985b6",
        "type": "ui_toast",
        "z": "c2cbc42f74127fa6",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Log in failed. Please try again",
        "name": "",
        "x": 870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c9faf0a79ea08f6b",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "process_user_login",
        "func": "msg.payload = {\n    email: global.get(\"email\"),\n    password: global.get(\"password\"),\n    username: global.get(\"email\").split(\"@\")[0]\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 180,
        "wires": [
            [
                "32c8f40a3cec14ba"
            ]
        ]
    },
    {
        "id": "32c8f40a3cec14ba",
        "type": "debug",
        "z": "c2cbc42f74127fa6",
        "name": "test log in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 180,
        "wires": []
    },
    {
        "id": "5687cdd55b74c741",
        "type": "ui_toast",
        "z": "c2cbc42f74127fa6",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Account in formation not correct. Please try again",
        "name": "",
        "x": 790,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "47883ffa99bcc298",
        "type": "change",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Dashboard\"],\"hide\":[\"Log In\",\"Sign Up\"]},\"tab\":\"Dashboard\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 240,
        "wires": [
            [
                "92b588f321241f51"
            ]
        ]
    },
    {
        "id": "92b588f321241f51",
        "type": "ui_ui_control",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "events": "all",
        "x": 1160,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "94f09da05473b206",
        "type": "ui_button",
        "z": "8ec5374001b1df54",
        "name": "",
        "group": "9b92f3cbecf14b0b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log Out",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "a057eec594fe1a87",
                "dfb4864226a5f7f8"
            ]
        ]
    },
    {
        "id": "a057eec594fe1a87",
        "type": "change",
        "z": "8ec5374001b1df54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Log In\"],\"hide\":[\"Sign Up\",\"Dashboard\"]},\"tab\":\"Log In\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "99bb40bbeb6be9d0"
            ]
        ]
    },
    {
        "id": "99bb40bbeb6be9d0",
        "type": "ui_ui_control",
        "z": "8ec5374001b1df54",
        "name": "",
        "events": "all",
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "dfb4864226a5f7f8",
        "type": "function",
        "z": "8ec5374001b1df54",
        "name": "clear_current_user",
        "func": "global.set(\"email\", \"\");\nglobal.set(\"password\", \"\");",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            []
        ]
    }
]