SmartFishTank.json
[
    {
        "id": "c2cbc42f74127fa6",
        "type": "tab",
        "label": "Authentication Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ec5374001b1df54",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52e5e9bd68d1fa0c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "73b2b2c63e102234",
        "type": "ui_tab",
        "name": "Log In",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "e1660b0c3c196e1e",
        "type": "ui_group",
        "name": "Log In",
        "tab": "73b2b2c63e102234",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "610934fdc68efbdb",
        "type": "ui_group",
        "name": "Sign Up",
        "tab": "fc59e6a45a2847da",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "66618fa089f0b260",
        "type": "database-config",
        "name": "FishTankDB",
        "authType": "anonymous",
        "claims": {},
        "createUser": false,
        "useClaims": false
    },
    {
        "id": "fc59e6a45a2847da",
        "type": "ui_tab",
        "name": "Sign Up",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "e122aaa855293665",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "9b92f3cbecf14b0b",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "e122aaa855293665",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d80ca025eec8948",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7414d63cc5073732",
        "type": "ui_group",
        "name": "Interactive",
        "tab": "e122aaa855293665",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bbfb250881e9432",
        "type": "ui_group",
        "name": "Statistics",
        "tab": "e122aaa855293665",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a051bae4bf8211bf",
        "type": "ui_form",
        "z": "c2cbc42f74127fa6",
        "name": "Log In",
        "label": "",
        "group": "e1660b0c3c196e1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "40793cbf5986c3a8",
                "6fc90551e3b166c2"
            ]
        ]
    },
    {
        "id": "6775dcc52abf4195",
        "type": "ui_button",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "group": "e1660b0c3c196e1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "To Sign Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "a932d43265130e12"
            ]
        ]
    },
    {
        "id": "b8007886a980bcd6",
        "type": "ui_ui_control",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "events": "all",
        "x": 500,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9c3b73432de8b670",
        "type": "ui_button",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "group": "610934fdc68efbdb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "To Log In",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "613cf741838abbc2"
            ]
        ]
    },
    {
        "id": "eeddb68b2b574cda",
        "type": "ui_ui_control",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "events": "all",
        "x": 480,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ae8606eaea30e4eb",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "check_password_match",
        "func": "msg.payload = (msg.payload.password_1 == msg.payload.password_2) ? \"Y\" : \"N\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 560,
        "wires": [
            [
                "20e5bc2c35b15b15"
            ]
        ]
    },
    {
        "id": "20e5bc2c35b15b15",
        "type": "switch",
        "z": "c2cbc42f74127fa6",
        "name": "check_valid",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "N",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "c80503f4498e5881"
            ],
            [
                "4563cb784b774637"
            ]
        ]
    },
    {
        "id": "3319dc584d41ce6c",
        "type": "firebase-out",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "database": "66618fa089f0b260",
        "path": "users",
        "pathType": "str",
        "priority": 1,
        "queryType": "push",
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "0d2ce3e712ce82db",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "save_user",
        "func": "global.set(\"email\", msg.payload.email);\nglobal.set(\"password\", msg.payload.password_1);\nglobal.set(\"aquarium_height\", msg.payload.aquarium_height);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c80503f4498e5881",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "process_new_user",
        "func": "msg.payload = {\n    email: global.get(\"email\"),\n    password: global.get(\"password\"),\n    username: global.get(\"email\").split(\"@\")[0],\n    aquarium_height: global.get(\"aquarium_height\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 520,
        "wires": [
            [
                "3319dc584d41ce6c"
            ]
        ]
    },
    {
        "id": "40793cbf5986c3a8",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "save_user",
        "func": "global.set(\"email\", msg.payload.email);\nglobal.set(\"password\", msg.payload.password);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6fc90551e3b166c2",
        "type": "firebase-get",
        "z": "c2cbc42f74127fa6",
        "name": "GET users",
        "constraint": {},
        "database": "66618fa089f0b260",
        "outputType": "auto",
        "passThrough": false,
        "path": "users",
        "pathType": "str",
        "useConstraint": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "68857fbd3dfaf41d",
                "425f66c686d6ef57"
            ]
        ]
    },
    {
        "id": "68857fbd3dfaf41d",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "load_user_data",
        "func": "var data = msg.payload;\nvar users = [];\n\nfor (var id in data) {\n    var user_data = data[id];\n    users.push(user_data);\n}\n\nmsg.payload = users\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "69b27e205d46e654"
            ]
        ]
    },
    {
        "id": "69b27e205d46e654",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "authenticate",
        "func": "var users = msg.payload;\nvar email = global.get(\"email\");\nvar password = global.get(\"password\");\n\nfor (let i = 0; i < users.length; i++) {\n    if (users[i].email == email && users[i].password == password) {\n        msg.payload = \"Y\";\n        return msg;\n    }\n}\n\nmsg.payload = \"N\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 180,
        "wires": [
            [
                "854f8eb481f2646b"
            ]
        ]
    },
    {
        "id": "854f8eb481f2646b",
        "type": "switch",
        "z": "c2cbc42f74127fa6",
        "name": "check_valid",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "N",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 260,
        "wires": [
            [
                "c9faf0a79ea08f6b",
                "47883ffa99bcc298"
            ],
            [
                "cdbaa942a76fdcc4"
            ]
        ]
    },
    {
        "id": "c8d29598b4b87b19",
        "type": "ui_form",
        "z": "c2cbc42f74127fa6",
        "name": "Sign Up",
        "label": "",
        "group": "610934fdc68efbdb",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password_1",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Retype password",
                "value": "password_2",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Aquarium height (cm)",
                "value": "aquarium_height",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "password_1": "",
            "password_2": "",
            "aquarium_height": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "ae8606eaea30e4eb",
                "0d2ce3e712ce82db"
            ]
        ]
    },
    {
        "id": "613cf741838abbc2",
        "type": "change",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Log In\"],\"hide\":[\"Sign Up\",\"Dashboard\"]},\"tab\":\"Log In\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 680,
        "wires": [
            [
                "eeddb68b2b574cda"
            ]
        ]
    },
    {
        "id": "a932d43265130e12",
        "type": "change",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Sign Up\"],\"hide\":[\"Log In\",\"Dashboard\"]},\"tab\":\"Sign Up\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "b8007886a980bcd6"
            ]
        ]
    },
    {
        "id": "733a3794c20985b6",
        "type": "ui_toast",
        "z": "c2cbc42f74127fa6",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Warning",
        "name": "",
        "x": 1190,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c9faf0a79ea08f6b",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "process_user_login",
        "func": "\nvar userdb = global.get(\"userdb\");\nvar uid;\n\nfor (var id in userdb) {\n    var user_data = userdb[id];\n    if (user_data.email == global.get(\"email\")) {\n        uid = id;\n        break;\n    }\n}\n\nglobal.set(\"logged_in_uid\", uid);\nglobal.set(\"aquarium_height\", userdb[uid].aquarium_height);\n\nmsg.payload = {\n    email: global.get(\"email\"),\n    password: global.get(\"password\"),\n    username: global.get(\"email\").split(\"@\")[0],\n    uid: uid\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 180,
        "wires": [
            [
                "32c8f40a3cec14ba"
            ]
        ]
    },
    {
        "id": "32c8f40a3cec14ba",
        "type": "debug",
        "z": "c2cbc42f74127fa6",
        "name": "test log in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 180,
        "wires": []
    },
    {
        "id": "5687cdd55b74c741",
        "type": "ui_toast",
        "z": "c2cbc42f74127fa6",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Warning",
        "name": "",
        "x": 990,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "47883ffa99bcc298",
        "type": "change",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Dashboard\"],\"hide\":[\"Log In\",\"Sign Up\"]},\"tab\":\"Dashboard\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "92b588f321241f51"
            ]
        ]
    },
    {
        "id": "92b588f321241f51",
        "type": "ui_ui_control",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "events": "all",
        "x": 1180,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "425f66c686d6ef57",
        "type": "function",
        "z": "c2cbc42f74127fa6",
        "name": "save_db_load",
        "func": "global.set(\"userdb\", msg.payload)",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "cdbaa942a76fdcc4",
        "type": "change",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Log in failed. Please try again",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 300,
        "wires": [
            [
                "733a3794c20985b6"
            ]
        ]
    },
    {
        "id": "4563cb784b774637",
        "type": "change",
        "z": "c2cbc42f74127fa6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Something went wrong. Please try again",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 600,
        "wires": [
            [
                "5687cdd55b74c741"
            ]
        ]
    },
    {
        "id": "94f09da05473b206",
        "type": "ui_button",
        "z": "8ec5374001b1df54",
        "name": "",
        "group": "9b92f3cbecf14b0b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log Out",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "a057eec594fe1a87",
                "dfb4864226a5f7f8"
            ]
        ]
    },
    {
        "id": "a057eec594fe1a87",
        "type": "change",
        "z": "8ec5374001b1df54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Log In\"],\"hide\":[\"Sign Up\",\"Dashboard\"]},\"tab\":\"Log In\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 40,
        "wires": [
            [
                "99bb40bbeb6be9d0"
            ]
        ]
    },
    {
        "id": "99bb40bbeb6be9d0",
        "type": "ui_ui_control",
        "z": "8ec5374001b1df54",
        "name": "",
        "events": "all",
        "x": 500,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "dfb4864226a5f7f8",
        "type": "function",
        "z": "8ec5374001b1df54",
        "name": "clear_current_user",
        "func": "global.set(\"email\", \"\");\nglobal.set(\"password\", \"\");",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7de6999f28e275d9",
        "type": "mqtt in",
        "z": "8ec5374001b1df54",
        "name": "",
        "topic": "21clc07/sensordata",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d80ca025eec8948",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "068b79634301520d",
                "6756564536f0381a"
            ]
        ]
    },
    {
        "id": "068b79634301520d",
        "type": "function",
        "z": "8ec5374001b1df54",
        "name": "process_sensor_data",
        "func": "var sensor_data = msg.payload.split(\",\");\nmsg.payload = sensor_data;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 260,
        "wires": [
            [
                "33d883f75f69c84d",
                "5d1e2ecc1779d41a"
            ]
        ]
    },
    {
        "id": "6e3c6c1dae9c45c5",
        "type": "ui_gauge",
        "z": "8ec5374001b1df54",
        "name": "",
        "group": "9b92f3cbecf14b0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 120,
        "wires": []
    },
    {
        "id": "f77b9072ccd03a94",
        "type": "ui_gauge",
        "z": "8ec5374001b1df54",
        "name": "",
        "group": "9b92f3cbecf14b0b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Water level",
        "label": " cm",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "6756564536f0381a",
        "type": "function",
        "z": "8ec5374001b1df54",
        "name": "process_current_user",
        "func": "msg.payload = {\n    email: global.get(\"email\"),\n    password: global.get(\"password\"),\n    username: global.get(\"email\").split(\"@\")[0],\n    logged_in_uid: global.get(\"logged_in_uid\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "287b2d2fda2fce6b",
        "type": "ui_form",
        "z": "8ec5374001b1df54",
        "name": "Set Feeder Time",
        "label": "",
        "group": "7414d63cc5073732",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Time",
                "value": "time",
                "type": "time",
                "required": true,
                "rows": null
            },
            {
                "label": "Repeat every day?",
                "value": "repeat",
                "type": "checkbox",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "time": "",
            "repeat": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "fb5ba085875234a1",
                "de670ed2a359c238"
            ]
        ]
    },
    {
        "id": "fb5ba085875234a1",
        "type": "debug",
        "z": "8ec5374001b1df54",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 460,
        "wires": []
    },
    {
        "id": "de670ed2a359c238",
        "type": "function",
        "z": "8ec5374001b1df54",
        "name": "set_time_ondb",
        "func": "\nvar time = msg.payload.time;\nvar repeat = msg.payload.repeat;\n\nvar uid = global.get(\"logged_in_uid\");\nmsg.topic = \"users/\" + uid;\n\nmsg.payload = {\n    time: time,\n    repeat: repeat\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [
            [
                "0ba275615fd6dd9a"
            ]
        ]
    },
    {
        "id": "0ba275615fd6dd9a",
        "type": "firebase-out",
        "z": "8ec5374001b1df54",
        "name": "",
        "database": "66618fa089f0b260",
        "path": "topic",
        "pathType": "msg",
        "priority": 1,
        "queryType": "update",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "33d883f75f69c84d",
        "type": "function",
        "z": "8ec5374001b1df54",
        "name": "process_temp_display",
        "func": "var temp = msg.payload[0];\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 160,
        "wires": [
            [
                "6e3c6c1dae9c45c5",
                "ec79995c5725038e",
                "1314925411b22c53"
            ]
        ]
    },
    {
        "id": "5d1e2ecc1779d41a",
        "type": "function",
        "z": "8ec5374001b1df54",
        "name": "process_level_display",
        "func": "var d_to_surface = msg.payload[1];\nvar h_aquarium = parseInt(global.get(\"aquarium_height\"));\nmsg.payload = h_aquarium - d_to_surface;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 260,
        "wires": [
            [
                "f77b9072ccd03a94",
                "418b7d34daad956e"
            ]
        ]
    },
    {
        "id": "ec79995c5725038e",
        "type": "ui_chart",
        "z": "8ec5374001b1df54",
        "name": "",
        "group": "3bbfb250881e9432",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Recorded Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "418b7d34daad956e",
        "type": "ui_chart",
        "z": "8ec5374001b1df54",
        "name": "",
        "group": "3bbfb250881e9432",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Recorded Water Level",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1314925411b22c53",
        "type": "function",
        "z": "8ec5374001b1df54",
        "name": "check_safe_temp",
        "func": "var temp = msg.payload;\n\nif (temp < 0 || temp > 100) {\n    msg.payload = \"N\";\n    return msg;\n}\n\nmsg.payload = \"Y\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 200,
        "wires": [
            [
                "575a4e0efb94873a"
            ]
        ]
    },
    {
        "id": "575a4e0efb94873a",
        "type": "switch",
        "z": "8ec5374001b1df54",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "N",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "c950916044b8bc3f"
            ]
        ]
    },
    {
        "id": "c950916044b8bc3f",
        "type": "function",
        "z": "8ec5374001b1df54",
        "name": "create_email_warning",
        "func": "msg.to = global.get(\"email\");\n\nmsg.topic = \"Temperature Warning\";\n\nmsg.payload = \n\"Dear user,\\n\\n\" + \n\"Your aquarium's temperature is outside of the safe range.\\n\" +\n\"Please check immediately!\\n\\n\" +\n\"Best regards,\\nHuy, Khoa & Hai of The Dev Team\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 200,
        "wires": [
            [
                "5d57af9b1858abb4"
            ]
        ]
    },
    {
        "id": "5d57af9b1858abb4",
        "type": "e-mail",
        "z": "8ec5374001b1df54",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1490,
        "y": 200,
        "wires": []
    },
    {
        "id": "6e2242ad43685518",
        "type": "inject",
        "z": "8ec5374001b1df54",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "a475cf6798769caf"
            ]
        ]
    },
    {
        "id": "a475cf6798769caf",
        "type": "debug",
        "z": "8ec5374001b1df54",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 400,
        "wires": []
    }
]